---
http_interactions:
- request:
    method: post
    uri: http://webservice.correios.com.br/service/rastro
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:res="http://resource.webservice.correios.com.br/">
          <soapenv:Header/>
          <soapenv:Body>
            <res:buscaEventosLista>
              <usuario>ECT</usuario>
              <senha>SRO</senha>
              <tipo>L</tipo>
              <resultado>U</resultado>
              <lingua>101</lingua>
              <objetos>SS123456789BR</objetos>
            </res:buscaEventosLista>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opnet-Transaction-Trace:
      - a2_05669c39-8570-4f65-b8b8-3c2c86883d68
      Content-Type:
      - text/xml; charset=UTF-8
      Content-Language:
      - pt-BR
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Header><X-OPNET-Transaction-Trace:X-OPNET-Transaction-Trace
        xmlns:X-OPNET-Transaction-Trace="http://opnet.com">pid=135270,requestid=0ba77bf1a686bb8ac2d2956daab521c191713276963afdd8</X-OPNET-Transaction-Trace:X-OPNET-Transaction-Trace></soapenv:Header><soapenv:Body><ns2:buscaEventosListaResponse
        xmlns:ns2="http://resource.webservice.correios.com.br/"><return><versao>2.0</versao><qtd>1</qtd><objeto><numero>SS123456789BR</numero><sigla>DG</sigla><nome>ENCOMENDA
        SEDEX (ETIQ LOGICA)</nome><categoria>SEDEX</categoria><evento><tipo>RO</tipo><status>01</status><data>25/06/2016</data><hora>08:54</hora><descricao>Objeto
        encaminhado </descricao><local>CDD JOAO MONLEVADE</local><codigo>35930971</codigo><cidade>Joao
        Monlevade</cidade><uf>MG</uf><destino><local>AC ALVINOPOLIS</local><codigo>35950970</codigo><cidade>Alvinopolis</cidade><bairro>Centro</bairro><uf>MG</uf></destino></evento></objeto></return></ns2:buscaEventosListaResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 27 Jun 2016 13:10:38 GMT
recorded_with: VCR 2.9.3
